[mysqld]
# サーバ全体の文字コードをutf8mb4に統一（絵文字など含む完全なUTF-8）
character-set-server = utf8mb4

# 文字列の比較やソート時のルールを指定（日本語も考慮されるもの）
collation-server     = utf8mb4_0900_ai_ci

# デフォルトのタイムゾーンを日本時間に（ログやCURRENT_TIMESTAMPに影響）
default-time-zone    = Asia/Tokyo
